.secrets-list-item {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.secrets-list-item-details {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.secrets-list-item-skeleton .secrets-list-item-detail {
    animation: 1s infinite alternate skeleton;
    border-radius: 7.5px;
    height: 15px;
    width: 100px;
}

.secrets-list-item-skeleton .secrets-list-item-detail-website {
    width: 150px;
}

.secrets-list-item:hover {
    background-color: rgba(1, 1, 1, 0.1);
    cursor: pointer;
}

.secrets-list-item-detail-website {
    font-weight: bold;
}
