.secret-list-item {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.secret-list-item:hover {
    background-color: #f8f8f8;
    cursor: pointer;
}

.secret-list-item-detail-website {
    font-weight: bold;
}