.keeper {
    align-items: stretch;
    display: flex;
    flex-direction: column;
}

.keeper-header {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-block-start: 0.67em;
    padding-block-end: 0.67em;
    text-align: center;
}

.keeper-header-key {
    background-color: var(--jet);
    color: white;
}
