.secrets {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.secrets-list-search-container {
    align-items: center;
    display: flex;
    padding: 12px;
}

.secrets-list-search {
    flex: 1 1 auto;
}
