.secrets {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.secrets-list {
    display: flex;
    flex-direction: column;
    max-height: 270px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.secrets-list-message {
    align-items: center;
    display: flex;
    flex: 0 0 30px;
    justify-content: center;
    padding: 12px;
}

#secrets-list-search {
    margin: 12px;
}
