.authentication-form {
    padding: 12px;
}

.authentication-form-divider {
    margin-top: 5.625px;
    text-align: center;
}

.authentication-form-import {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex: 0 0 22.5px;
    justify-content: center;
    text-decoration: underline;
}
