* {
    font-family: Verdana;
}

body,
#root {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-width: 300px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.form-item {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.form-item-input {
    display: flex;
    position: relative;
}

.form-item-input input {
    flex: 1 1 auto;
}

.form-item-input i {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    height: 100%;
    position: absolute;
    right: 6px;
}

.form-actions {
    display: flex;
    gap: 8px;
    margin-top: 16px;
}

.form-actions-item {
    flex: 1 1 auto;
}

button,
input[type='submit'] {
    cursor: pointer;
}

@keyframes skeleton {
    from {
        background-color: lightgray;
    }

    to {
        background-color: transparent;
    }
}
